<% if current_user %>
  <%= content_tag(:h3, t('shelf.tags.title_html')) %>
  <%= form_tag user_tags_path, method: :get, remote: true, id: "user_tags_search", class: "form-search js" do %>
    <%= search_field_tag :tag, nil, placeholder: t('shelf.tags.placeholder'), class: ["form-control", "input-sm", "search-query"], autocomplete: "off" %>
  <% end %>
  <div id="user_tags">
    <%- # Link to user tags if there isn't any JS. -%>
    <ul class="nav-list no-js">
      <li><%= link_to t('shelf.tags.user_tags_html'), user_tags_path %></li>
    </ul>
  </div>
<% end %>
