<p>Trouble loading? Click <%= link_to "here", "https://aleph.library.nyu.edu/F?func=bor-info" %> to view your account</p>
<%= tag(:iframe, id: "aleph_account", src: aleph_account_url, sandbox: 'allow-same-origin allow-scripts allow-forms') unless current_user.nil? %>
