---
http_interactions:
- request:
    method: get
    uri: https://cite-dev.library.nyu.edu/openurl?calling_system=primo&cite_to=json&external_id=nyu_aleph006048386&institution=NYU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://cite-dev.library.nyu.edu/?cite_to=json&calling_system=primo&external_id=nyu_aleph006048386&institution=NYU&external_id[]=openurl
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 30 Nov 2018 18:22:33 GMT
- request:
    method: get
    uri: https://cite-dev.library.nyu.edu/?calling_system=primo&cite_to=json&external_id=nyu_aleph006048386openurl&institution=NYU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <!-- Global site
        tag (gtag.js) - Google Analytics -->\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-55461631-21\"></script>\n
        \   <script>\n      window.dataLayer = window.dataLayer || [];\n      function
        gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n\n      gtag('config',
        'UA-55461631-21');\n    </script>\n    <meta charset=\"utf-8\">\n    <meta
        content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n    <title>Citation
        Error | New York University Division of Libraries</title>\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/css/application.css\">\n    <link rel=\"SHORTCUT
        ICON\" href=\"https://cdn.library.nyu.edu/images/favicon.ico\">\n    <link
        rel=\"stylesheet\" type=\"text/css\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n
        \ </head>\n  <body>\n    <header>\n      <span><a href=\"https://library.nyu.edu\"
        target=\"_blank\"><img src=\"https://cdn.library.nyu.edu/images/nyulibraries-logo.svg\"
        alt=\"NYU Libraries\" width=\"233\" height=\"30\"></a></span>\n    </header>\n
        \   <nav>\n      <ul class=\"breadcrumb\">\n        <li><a href=\"https://library.nyu.edu\">NYU
        Libraries</a></li>\n        <li class=\"active\">Sorry, there was an error</li>\n
        \     </ul>\n    </nav>\n    <main>\n      <div class=\"nyu-container\">\n
        \       <div class=\"col-sm-12\">\n          <h1>Sorry, there was an error</h1>\n\n
        \         \n            <p>Invalid query parameters: expected Array (got String)
        for param `external_id&#x27;</p>\n          \n\n          \n\n          <h2>Suggested
        Links</h2>\n          <ul>\n            <li><a href=\"https://nyu.qualtrics.com/jfe/form/SV_8AnbZWUryVfpWXH\"
        target=\"_blank\">Report a Broken Link</a></li>\n            <li><a href=\"https://library.nyu.edu/ask/\"
        target=\"_blank\">Ask a Librarian</a></li>\n          </ul>\n        </div>\n
        \     </div>\n    </main>\n  </body>\n</html>\n"
  recorded_at: Fri, 30 Nov 2018 18:22:34 GMT
- request:
    method: get
    uri: https://cite-dev.library.nyu.edu/openurl/nyu_aleph006048386?calling_system=primo&cite_to=json&institution=NYU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"openurl":"https://qa.getit.library.nyu.edu/resolve?&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2018-11-30T13%3A28%3A47IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph006048386&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.jtitle=&rft.btitle=The%20logic%20of%20American%20politics&rft.aulast=Kernell&rft.aufirst=Samuel,&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Kernell,%20Samuel,%201945-%20author&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.pub=&rft.place=&rft.issn=&rft.eissn=&rft.isbn=9781506358666&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.primo=nyu_aleph006048386&rft.eisbn=&rft_dat=%3Cnyu_aleph%3E006048386%3C/nyu_aleph%3E%3Cgrp_id%3E362176202%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng"}'
  recorded_at: Fri, 30 Nov 2018 18:28:47 GMT
recorded_with: VCR 3.0.3
