<div>
   <label>
       <%= content_tag :strong, "#{record_idx}." %>
       <%= check_box_tag("id[]", record.id, false, class: "js") %>
   </label>
 </div>
<%= content_type_tag(record.content_type) %>
