<%= form_for record, remote: true, namespace: record.id, html: {class: "form-inline"} do |form| %>
  <div class="result">
    <div class="col-sm-1 appetizer"><%= render 'appetizer', :record => record, :record_idx => record_idx, :form => form %></div>
    <div class="col-sm-9 entree"><%= render 'entree', :record => record, :form => form %></div>
  </div>
<% end %>
