<% if current_user %>
  <div class="record_tag_list">
    <%= form.label :tags, t('record.tag_list.label_html') %>
    <%= form.text_field :tag_list, class: "form-control", value: record.tags_from(current_user), placeholder: t('record.tag_list.placeholder') %>
    <%= form.submit(t('record.tag_list.submit_html'), class: "no-js") %>
  </div>
<% end %>
