---
http_interactions:
- request:
    method: get
    uri: https://cite-dev.library.nyu.edu/?calling_system=primo&cite_to=json&external_id%5B%5D=nyu_aleph000980206&institution=NYU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"nyu_aleph000980206":{"itemType":"book","author":"Mossberger, Karen","contributor":["Tolbert,
        Caroline J","Stansbury, Mary, 1957-"],"publisher":"Georgetown University Press","place":"Washington,
        D.C.","isbn":["0878409998","9780878409990"],"title":"Virtual inequality :
        beyond the digital divide","date":"2003","language":"eng","tags":"Digital
        divide","pnxRecordId":"nyu_aleph000980206","notes":"Includes bibliographical
        references (p. [171]-183) and index.","importedFrom":"PNX_JSON","locations":["NYU
        Bobst  Main Collection  (HN49.I56 M67 2003 )","New School Offsite  Main Collection  (HN49.I56
        M67 2003 )"],"links":{"lln42":"https://ill-proxy.library.nyu.edu/illiad/illiad.dll?Action=10&Form=23&PhotoJournalTitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&PhotoItemAuthor=Karen.%20%20Mossberger&PhotoJournalYear=c2003&ESPNumber=51769109&ISSN=0878409998&AcceptNonEnglish=Yes&ShippingOptions=Scan%20Request&Notes=recordid-nyu_aleph000980206","lln10":"https://getit.library.nyu.edu/resolve?&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2020-09-14T16%3A15%3A06IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000980206&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.jtitle=&rft.btitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.aulast=Mossberger&rft.aufirst=Karen.&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Mossberger,%20Karen&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.pub=Georgetown%20University%20Press&rft.place=Washington,%20D.C.&rft.issn=&rft.eissn=&rft.isbn=0878409998&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.primo=nyu_aleph000980206&rft.eisbn=&rft_dat=%3Cnyu_aleph%3E000980206%3C/nyu_aleph%3E%3Cgrp_id%3E717891454%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng","lln43":"https://ares.library.nyu.edu/remoteauth/ares.dll?Action=10&Form=2&Value=IRFVideo&title=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&Author=Caroline%20J%20Tolbert;%20Mary%20Stansbury%201957-&PubDate=2003&CallNumber=HN49.I56%20M67%202003&ItemFormatAudioVideo=book&CitedIn=nyu_aleph000980206","lln11":"https://getit.library.nyu.edu/resolve?umlaut.institution=NYUAD&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2020-09-14T16%3A15%3A06IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000980206&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.jtitle=&rft.btitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.aulast=Mossberger&rft.aufirst=Karen.&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Mossberger,%20Karen&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.pub=Georgetown%20University%20Press&rft.place=Washington,%20D.C.&rft.issn=&rft.eissn=&rft.isbn=0878409998&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.primo=nyu_aleph000980206&rft.eisbn=&rft_dat=%3Cnyu_aleph%3E000980206%3C/nyu_aleph%3E%3Cgrp_id%3E717891454%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng","lln44":"","lln12":"https://getit.library.nyu.edu/resolve?umlaut.institution=NYUSH&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2020-09-14T16%3A15%3A06IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000980206&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.jtitle=&rft.btitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.aulast=Mossberger&rft.aufirst=Karen.&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Mossberger,%20Karen&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.pub=Georgetown%20University%20Press&rft.place=Washington,%20D.C.&rft.issn=&rft.eissn=&rft.isbn=0878409998&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.primo=nyu_aleph000980206&rft.eisbn=&rft_dat=%3Cnyu_aleph%3E000980206%3C/nyu_aleph%3E%3Cgrp_id%3E717891454%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng","lln40":"https://ill-proxy.library.nyu.edu/illiad/illiad.dll/OpenURL?LoanTitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&LoanAuthor=Mossberger,%20Karen&LoanDate=2003&ISSN=0878409998&AcceptNonEnglish=Yes&AcceptAlternateEdition=No&Ariel=Yes&ShippingOptions=NYU%20Shanghai&Notes=recordid-000980206%20CallNumber-CallNumber-HN49.I56
        M67 2003","lln41":"https://ares.library.nyu.edu/remoteauth/ares.dll?Action=10&Form=30&linktype=openurl&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000980206&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.jtitle=&rft.btitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.aulast=Mossberger&rft.aufirst=Karen.&rft.au=Mossberger,%20Karen&rft.pub=Georgetown%20University%20Press&rft.place=Washington,%20D.C.&rft.issn=&rft.isbn=0878409998&rft.primo=nyu_aleph000980206","lln13":"https://getit.library.nyu.edu/resolve?umlaut.institution=CU&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2020-09-14T16%3A15%3A06IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000980206&rft_val_fmt=info:ofi/fmt:kev:mtx:book&rft.genre=book&rft.jtitle=&rft.btitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.aulast=Mossberger&rft.aufirst=Karen.&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Mossberger,%20Karen&rft.aucorp=&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.pub=Georgetown%20University%20Press&rft.place=Washington,%20D.C.&rft.issn=&rft.eissn=&rft.isbn=0878409998&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.primo=nyu_aleph000980206&rft.eisbn=&rft_dat=%3Cnyu_aleph%3E000980206%3C/nyu_aleph%3E%3Cgrp_id%3E717891454%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft_id=info:oai/&req.language=eng","linktoholdings":"http://alephstage.library.nyu.edu/F?func=item-global&doc_library=NYU01&local_base=PRIMOCOMMON&doc_number=000980206"},"addau":["Tolbert,
        Caroline J","Stansbury, Mary, 1957-"],"institution":"NYU","subject":["Digital
        divide"],"oclcnum":"51769109"}}'
  recorded_at: Mon, 14 Sep 2020 20:15:06 GMT
recorded_with: VCR 3.0.3
