<%= render 'common/modal' %>
<header id="header" class="header">
  <div class="parent"><a href="http://library.nyu.edu/"><span>NYU Libraries</span></a></div>
  <div class="institution"><span>{{institution.code}}</span></div>
  <div class="application"><span>{{application_title}}</span></div>
</header>
