@import 'font-awesome';

#aleph_account {
  width: 100%;
  height: 100%;
  border: 0px;
  min-height: 600px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.js {
  display: none;
}

#user_tags_search {
  margin-bottom: 0;
  input {
    margin-left: 15px;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: {
      image: url(image_path("magnifier.png"));
      repeat: no-repeat;
      position: 6px 50%;
    }
  }
}

#records_content_types, #user_tags {
  & > ul > li:first-child {
    margin-top: 3px;
  }
  & > ul > li > a {
    margin-left: 0px;
  }
}

input#select {
  vertical-align: top;
}

.record_tag_list > label {
  margin-bottom: 1px;
}

#user_tags {
  // height: 30em;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &.scroll::-webkit-scrollbar-thumb {
    @include border-radius(4px);
    background-color: grey;
  }
  &.scroll::-webkit-scrollbar-track-piece {
    @include border-radius(4px);
    background-color: whitesmoke;
  }
}

.more_tags {
  display: block;
  width: 100%;
}

.tag_list {
  padding-right: 1em;
}

#email_records {
  margin: 1em;
}

#shelf h3 {
  border-top: 1px solid #ccc;
  padding-top: 2em;
}

label[for='to_address'] {
  margin-left: 0 !important;
}

// Overrides
div.entree, div.appetizer {
  margin-left: 0;
  padding-left: 0;
}

div.entree {
  padding-left: 1em;
}
